// Brand colors
$c-brand-primary: #f1cd02;
$c-brand-secondary: #0a4a79;
$c-brand-tertiary: #278078;

$c-button-1: $c-brand-primary;
$c-button-2: #0b6cb6;

$c-background-light: $c-brand-secondary;
$c-background-dark: #2b2b2b;

$c-text-light: #eaf1f5;
$c-text-dark: #404040;
