@use "../palette" as p;
@use "../media";

footer {
	.social-icons {
		a {
			text-decoration: none;
			display: inline-block;
			margin-left: 0.5em;

			svg {
				max-width: 2em;
				max-height: 2em;
				text-decoration: none;
				cursor: pointer;
				color: p.$c-text-light;
				transition: all 0.3s ease;
			}

			&:hover svg {
				//color: $c-brand-primary;
				transform: translateY(-5px);
			}
		}
	}

	.logo-footer {
		margin: 2em 0 0 auto;

		img {
			max-width: 128px;
			height: auto;
		}
	}
}

@include color-mode(dark) {
	.footer {
		background-color: $body-bg-dark;
	}
}
