@use "../palette" as p;


button[type='reset'] {
	border: none;
	background-color: transparent;
	text-decoration: underline;

	&:hover {
		outline: 1px solid p.$c-brand-primary;
	}
}

%btn-custom {
	font-size: inherit;
	text-align: center;
	border: 2px solid p.$c-button-2;
	border-radius: 0;
	color: p.$c-button-2;
	background-color: white;
	padding: 0.5em 1.3em;
}

.btn-custom {
	@extend %btn-custom;

	&:hover {
		outline: 1px solid p.$c-brand-secondary;
		color: p.$c-button-2;
	}
}
